html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Lato";
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #102746;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
figure {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

/* lato-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato-v23-latin-regular.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("../fonts/lato-v23-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/lato-v23-latin-700.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("../fonts/lato-v23-latin-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/lato-v23-latin-900.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("../fonts/lato-v23-latin-900.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper-full {
  max-width: 1262px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-title {
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  position: relative;
}

.section-title::after {
  display: block;
  content: "";
  width: 253px;
  height: 3px;
  background: #006dfe;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Header styles start */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.4s linear;
  padding-bottom: 20px;
  z-index: 999;
}

.header_active {
  background: #0e1d28;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding: 56px 0;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.header__item {
  margin-right: 82px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  font-size: 18px;
  line-height: 24px;
  color: white;
  text-decoration: none;
}

.header__link:hover,
.header__link:focus,
.header__link:active {
  opacity: 0.75;
}

.header__burger {
  display: none;
  width: 40px;
  height: 28px;
  position: relative;
}

.burger {
}

.burger__line {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
}

.burger__line_first {
  top: 0;
}
.burger__line_second {
  top: 50%;
  transform: translateY(-50%);
}
.burger__line_third {
  bottom: 0;
}

/* Header styles end */

/* Intro styles start */

.intro {
  min-height: 962px;
  padding-top: 263px;
  padding-bottom: 223px;
  background: url(../img/intro-bg.jpg) no-repeat center;
  background-size: cover;
}

.intro__title {
  max-width: 619px;
  margin-bottom: 22px;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  color: white;
}

.intro__subtitle {
  max-width: 546px;
  margin-bottom: 59px;
  line-height: 24px;
  color: white;
}

.search__form {
}
.search__form-wrapp {
  margin: 0;
  padding: 0;
  border: 0;
}
.search__form-info {
  display: flex;
  flex-wrap: wrap;
}

.search__form-field {
  width: 297px;
  margin-right: 60px;
  padding-bottom: 24px;
  padding-left: 43px;
  background-color: transparent;
  background: url(../img/circle-icon.svg) no-repeat left 6px;
  background-size: 20px;
  border: 0;
  border-bottom: 2px solid #bfc0c5;
  font-weight: 500;
  font-size: 18px;
  color: white;
}

.search__form-field::placeholder {
  font-weight: 500;
  font-size: 18px;
  color: white;
}

.search__form-button {
  padding: 15px 39px;
  text-transform: uppercase;
  background-color: #1b7dff;
  font-weight: 500;
  font-size: 24px;
  border: none;
  color: white;
}

.search__form-button:hover,
.search__form-button:active,
.search__form-button:focus {
  background-color: #0d5cc4;
  cursor: pointer;
}

/* Intro styles end */

/* Benefits styles start */

.benefits {
  margin-bottom: 131px;
}

.benefits__wrapper {
  max-width: 1262px;
  position: relative;
  background-color: white;
  margin: 0 auto;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
}

.benefits__title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(-99%);
  background-color: white;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  padding-top: 93px;
  padding-left: 99px;
  padding-bottom: 88px;
}

.benefits__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 55px;
  padding: 0 100px;
}

.benefits__card {
  grid-column: span 1;
  margin-bottom: 121px;
}

.benefits__card-pic {
  margin-bottom: 37px;
  max-width: 66px;
}

.benefits__card-thumb {
  display: block;
}

.benefits__card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: black;
  margin-bottom: 26px;
}

.benefits__card-desc {
  font-size: 16px;
  line-height: 24px;
  color: black;
  margin-bottom: 39px;
}

.benefits__card-link {
  display: inline-block;
  padding-right: 59px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #006dfe;
  background: url(../img/arrow-right-icon.svg) no-repeat 95% center;
  transition: 0.2s all;
}

.benefits__card-link:hover,
benefits__card-link:focus {
  background: url(../img/arrow-right-icon.svg) no-repeat right center;
}

/* Benefits styles end */

/* Places styles start */

.places {
  margin-bottom: 131px;
}

.wrapper-full {
}

.places__caption {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}

.places__title {
  margin-right: 15px;
}

.places__view-all {
  padding-right: 59px;
  font-size: 16px;
  color: #006dfe;
  text-decoration: none;
  background: url(../img/arrow-right-icon.svg) no-repeat right center;
}

.places__view-all:hover,
.places__view-all:focus {
  opacity: 50%;
}

.places__cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}
.places__card {
  position: relative;
  overflow: hidden;
}

.places__card:hover .places__card-pic {
  transform: scale(1.05);
}

.places__card::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(21, 24, 36, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.places__card-pic {
  width: 100%;

  transition: 0.3s all;
}

.places__card-lg {
  grid-column: span 3;
}

.places__card-title {
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: white;
  position: absolute;
  bottom: 27px;
  left: 29px;
  z-index: 3;
}

.places__card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}

.places__card-small {
  grid-column: span 2;
}

.places__card-pic_lg {
  height: 100%;
  object-fit: cover;
}

.places__card-pic_small {
  height: 100%;
  object-fit: cover;
}

/* Places styles end */

/* Tours styles start */
.tours {
  margin-bottom: 139px;
}

.tours__tour {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 108px;
  align-items: center;
  margin-bottom: 77px;
}

.tours__tour:last-child {
  margin-bottom: 0;
}

.tour__info {
  padding-left: 47px;
}

.tour__title {
  margin-bottom: 85px;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
}

.tour__desc {
  line-height: 24px;
  margin-bottom: 58px;
}

.tour__link {
  padding-right: 59px;
  font-size: 16px;
  color: #006dfe;
  text-decoration: none;
  background: url(../img/arrow-right-icon.svg) no-repeat right center;
}

.tour__link:hover,
.tour__link:focus {
  opacity: 50%;
}

/* Tours styles end */

/* Top styles start */

.top {
  margin-bottom: 144px;
}

.top__title {
  margin-bottom: 54px;
}

.top__cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 57px;
  row-gap: 57px;
}

.top__card {
  display: flex;
  flex-direction: column;
  grid-column: span 2;
}

.top__card-pic {
  position: relative;
  margin-bottom: 45px;
}
.top__card-thumb {
}
.top__card-stats {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  padding: 16px 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(21, 24, 36, 0.6);
}

.top__card-title {
  margin: 0 auto 0 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: white;
}

.top__card-likes {
  margin-right: 14px;
  padding-right: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
  background: url(../img/hird-icon.svg) right center;
  background-repeat: no-repeat;
}

.top__card-likes-value {
}

.top__card-comments {
  padding-right: 23px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
  background: url(../img/comment-icon.svg) right center;
  background-repeat: no-repeat;
}

.top__card-comments-value {
}

.top__card-desk {
  margin-bottom: 31px;
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
}

.top__card-more {
  width: 118px;
  margin: auto 0 0 0;
  padding: 12px 19px;
  background: #006dfe;
  color: white;
  text-decoration: none;
  line-height: 19px;
}

.top__card-more:hover,
.top__card-more:focus,
.top__card-more:active {
  background-color: #0d5cc4;
  cursor: pointer;
}

/* Top styles end */

/* Videos styles start */

.vidios {
  width: 100%;
}

.videos__wrapper {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

.video_item {
  padding-top: 56.25%;
}

.video__element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* Videos styles end */

/* Footer styles start */

.footer {
  background: #0e1d28;
  padding: 119px 0;
}

.footer__item {
  display: flex;
  flex-wrap: wrap;
}

.footer__logo {
  width: 50%;
}

.footer__logo-pic {
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
}

.footer__menu-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: white;
}

.footer__menu-link {
  line-height: 24px;
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

.footer__menu-link:hover,
.footer__menu-link:active,
.footer__menu-link:focus {
  opacity: 75%;
}

/* Footer styles end */

/* Media start */
@media screen and (max-width: 960px) {
  .benefits {
    margin-bottom: 75px;
  }
  .benefits__card {
    margin-bottom: 30px;
  }
  .search__form-field {
    margin-bottom: 25px;
  }
  .benefits__cards {
    padding: 0 15px;
    column-gap: 35px;
  }
  .benefits__title {
    padding: 55px 15px;
  }
  .benefits__wrapper {
    box-shadow: none;
  }
  .places__card-lg {
    grid-column: span 6;
  }
  .places__card-small {
    grid-column: span 6;
  }
  .tours__tour {
    column-gap: 35px;
  }
  .tour__info {
    padding-left: 0;
  }
  .tour__title {
    margin-bottom: 35px;
  }
  .tour__desc {
    margin-bottom: 25px;
  }
  .top {
    margin-bottom: 90px;
  }
  .top__cards {
    column-gap: 25px;
    row-gap: 50px;
  }
  .top__card {
    grid-column: span 3;
  }
  .top__card-pic {
    margin-bottom: 25px;
  }
  .top__card-thumb {
    width: 100%;
  }
  .footer {
    padding: 60px 0;
  }
}

@media screen and (max-width: 767px) {
  .header__burger {
    display: block;
  }
  .header__nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 10;
    padding: 75px;
    transform: translateX(100%);
    transition: 0.2s all linear;
  }
  .header__nav_active {
    transform: translateX(0);
  }
  .header__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .header__item:last-child {
    margin-bottom: 0;
  }

  .header__link {
    font-size: 42px;
    line-height: 48px;
  }

  .header__nav-close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 11;
  }

  .header__nav-close-line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 50%;
  }
  .header__nav-close-line:first-child {
    transform: translateY(-50%) rotate(45deg);
  }
  .header__nav-close-line:last-child {
    transform: translateY(-50%) rotate(-45deg);
  }
  .header__wrapper {
    padding-top: 28px;
    padding-left: 0;
  }
  .search__form-field {
    width: 100%;
    margin-right: 0;
    background: url(../img/circle-icon.svg) no-repeat left top;
  }

  .search__form-field::placeholder {
    font-size: 16px;
    padding-bottom: 12px;
  }
  .intro {
    padding-top: 130px;
    min-height: 100%;
  }
  .intro__title {
    font-size: 32px;
    line-height: 48px;
  }
  .intro__subtitle {
    font-size: 14px;
  }
  .benefits {
    margin-bottom: 36px;
  }
  .benefits__card {
    grid-column: span 3;
  }

  .benefits__card-pic {
    margin-bottom: 20px;
  }
  .benefits__card-title {
    margin-bottom: 10px;
  }
  .benefits__card-desc {
    width: 80%;
    margin-bottom: 20px;
  }
  .section-title {
    margin-bottom: 20px;
  }
  .places {
    margin-bottom: 96px;
  }
  .footer__logo {
    width: 100%;
    margin-bottom: 24px;
  }
  .footer__nav {
    width: 100%;
  }
  .footer__menu {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 500px) {
  .header__nav {
    padding: 75px 30px;
  }
  .section-title::after {
    width: 78px;
  }
  .tours {
    margin-bottom: 74px;
  }
  .tour__pic,
  .tour__info {
    grid-column: span 2;
  }
  .tour__title {
    margin-bottom: 20px;
  }
  .tours__tour {
    margin-bottom: 36px;
  }
  .tour__info {
    margin-bottom: 20px;
  }
  .tour__pic_mob-first {
    grid-row-start: -1;
  }
  .top__card {
    grid-column: span 6;
  }
  .top__card-desk {
    margin-bottom: 15px;
  }
}

/* Media end */
